/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  object-fit: contain;
} */

.nav-for-slider .swiper-slide {
  height: auto;
  width: auto;
  cursor: pointer;
}

.swiper-wrapper {
  height: auto;
}

.nav-for-slider .swiper-slide img {
  border: 2px solid transparent;
  border-radius: 10px;
}

.nav-for-slider .swiper-slide-thumb-active img {
  border-color: rgb(79 70 229);
}
